autostart
calibre
chrome_backup
chromium
coc
Code - OSS
configstore
dconf
deepin
fcitx
fontconfig
gconf
google-chrome
gtk-3.0
jesseduffield
kdeglobals
Kingsoft
menus
mimeapps.list
netease-cloud-music
nvim/
okularrc
pulse
QtProject.conf
qv2ray
screenkey.json
Thunar
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xfce4
yarn
yay
vlc/vlc-qt-interface.conf
