autostart
calibre
chrome_backup
chromium
coc
Code - OSS
configstore
dconf
deepin
fontconfig
fcitx
tencent-qq
gconf
google-chrome
gtk-2.0
gtk-3.0
jesseduffield
kdeglobals
Kingsoft
menus
netease-cloud-music
nvim
okularrc
pulse
QtProject.conf
qv2ray
Thunar
Trolltech.conf
xfce4
yarn
vlc/vlc-qt-interface.conf

baidunetdisk
enchant
gedit
kdeglobals
