autostart
calibre
chrome_backup
chromium
coc
Code - OSS
configstore
dconf
deepin
fontconfig
fcitx
tencent-qq
gconf
google-chrome
jesseduffield
kdeglobals
Kingsoft
menus
netease-cloud-music
nvim
okularrc
pulse
QtProject.conf
qv2ray
Thunar
Trolltech.conf
xfce4
yarn
vlc/vlc-qt-interface.conf

baidunetdisk
enchant
gedit
kdeglobals
zsh/.zcom*
inkscape
mpv/watch_later
GIMP
kdeconnect
nomacs
